

  <tr>
    <td>
      <p class="text-center">
        <%= item.name %>
      </p>
    </td>
    <% if item.days_left < 2 %>
      <td class="warning">
    <% else %>
      <td>
    <% end %>
      <p class="text-center">
        <i> <%= item.days_left %> days left </i>
      </p>
    </td>

    <td>
      <p class="text-center">
        <%= link_to "", [list, item], method: :delete, class: 'glyphicon glyphicon-ok' %>
      </p>
    </td>
  </tr>
