


    <div class="row">
      <p> <%= item.name %>
        <small>
          <i> <%= item.days_left %> days left </i>
            <%= link_to "", [list, item], method: :delete, class: 'glyphicon glyphicon-ok' %>
        </small>
      </p>
    </div>
